venv*
../myenv
*pycache/
db.sqlite3
*.session
.env.dev
.env
.idea
**/__pycache__/
.venv
media/
/info.log
*/migrations/*
!migrations/__init__.py
/config/test.db.sqlite3
/test.db.sqlite3
/logs/error.log
/logs/info.log
/logs/warning.log
